.ownlogo{
max-height: 80px;
}
.equal-height-wrap .mcb-wrap .mcb-wrap-inner { position:relative; float:left; width:100%;}

.equal-height-wrap .mcb-wrap.valign-middle .mcb-wrap-inner { top:50%; 
	-webkit-transform:translateY(-50%); -moz-transform:translateY(-50%); -ms-transform:translateY(-50%); -o-transform:translateY(-50%); transform:translateY(-50%);}
.equal-height-wrap .mcb-wrap.valign-bottom .mcb-wrap-inner { top:100%;
	-webkit-transform:translateY(-100%); -moz-transform:translateY(-100%); -ms-transform:translateY(-100%); -o-transform:translateY(-100%); transform:translateY(-100%);}



.dlis{
 margin-top:50px;
 }

.dli{
transition-timing-function: ease-in-out; 
 position:relative; 
    top:0px;
transition: top .2s;


}

.dli:hover{

top:10px;
}
.dli2{
border: 1px solid red;
width: 1px;
transition-timing-function: ease-in-out; 
 position:relative; 

transition: width .2s;

}
.dli2:hover{
	width: 10px;
}
.imgcl{
	float: none;
    margin: 0 auto;
    width: fit-content;
}